<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="c:\temp\internal.txt">


    <extensions>
        <!--enable NLog.Web for ASP.NET Core-->
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="allfile" fileName="C:\WebStatistic\Logs\nlog-all-logs-${shortdate}.log"
                        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

        <target xsi:type="File" name="traceFile" fileName="C:\WebStatistic\Logs\nlog-trace-${shortdate}.log"
                    layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
		
		<target xsi:type="File" name="warningFile" fileName="C:\WebStatistic\Logs\nlog-warning-${shortdate}.log"
			layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
		
		<target xsi:type="File" name="fatalErrorFile" fileName="C:\WebStatistic\Logs\nlog-fatal-error-${shortdate}.log"
			layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />



	</targets>

    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <!--Skip Microsoft logs - no writeTo attribute-->
        <logger name="Microsoft.*" minlevel="Trace" final="true" />
        <logger name="*" minlevel="Trace" writeTo="traceFile" />
		<logger name="*" levels="Warn" writeTo="warningFile" />
		<logger name="*" levels="Fatal" writeTo="fatalErrorFile" />
    </rules>
</nlog>