<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>HoffmanWebStatistic</title>

    <!--STYLES-->
    <link href="~/styles/layout.css" rel="stylesheet" />
    <link href="~/lib/simple-datatables/dist/style.css" rel="stylesheet">
    <link href="~/styles/myStyle.css" rel="stylesheet" />
    <!--STYLES END-->

@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/app-saas.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HoffmanWebstatistic.styles.css" asp-append-version="true" /> *@

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-controller="Home" asp-action="Index">EOL Hofmann</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form method="post" asp-controller="Hoffman" asp-action="VINsReport" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input type="search" name="searchIdentifier" class="form-control" placeholder="Поиск..." id="top-search" aria-label="Search for..." aria-describedby="btnNavbarSearch">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search" ></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a asp-controller="Account" asp-action="Logout" class="dropdown-item">Вход/Выход</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a asp-controller="Account" asp-action="Register" class="dropdown-item">Регистрация</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">ADMIN PANEL</div>
                        <a class="nav-link" asp-controller="Stand" asp-action="MainMenu">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-desktop"></i></div>
                            Стенды
                        </a>
                        <a class="nav-link" asp-controller="Operator" asp-action="MainMenu">
                            <div class="sb-nav-link-icon"><i class="fas fa-hammer"></i></div>
                            Операторы
                        </a>
                        <a class="nav-link" asp-controller="User" asp-action="MainMenu">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Пользователи
                        </a>
                        <a class="nav-link" asp-controller="Picture" asp-action="MainMenu">
                            <div class="sb-nav-link-icon"><i class="fas fa-images"></i></div>
                            Картинки
                        </a>
                        <a class="nav-link" asp-controller="Translate" asp-action="MainMenu">
                            <div class="sb-nav-link-icon"><i class="fas fa-language"></i></div>
                            Переводы
                        </a>                        
                        <a class="nav-link" asp-controller="DTC" asp-action="MainMenu">
                            <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                            Загрузка DTC
                        </a>                       
                        <a class="nav-link" asp-controller="SendingStatuslog" asp-action="MainMenu">
                            <div class="sb-nav-link-icon"><i class="fas fa-circle-info"></i></div>
                            Статусы/логи
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as: @await Component.InvokeAsync("Auth", new { method = "Name" })</div>
                    <div class="small">Role: @await Component.InvokeAsync("Auth", new { method = "Role" })</div>
                    @* Start Bootstrap *@
                </div>

            </nav>

        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
        <footer class="py-4 bg-dark mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; End of Line</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                            <a href="#">КО ввода в эксплуатацию электронных систем и испытаний автомобилей</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
    
    <!--SCRIPTS-->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/sidemenu.js"></script>
    <script src="~/lib/fontawesome/js/all.js"></script>
    @*<script src="~/lib/Chart.js/chart.min.js"></script> *@
    <script src="~/lib/simple-datatables/dist/umd/simple-datatables.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>


    <script src="~/js/datatables-simple-demo.js"></script>
     <!--SCRIPTS END-->

@*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-2.1.1.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
