@model string

   
<div class="container-fluid col-8" style="margin-top: 110px;">
    <h1 class="text-center ">
        Error
        <i class="fa-solid fa-circle-exclamation" style="color: #ff0000;"></i>

    </h1>

    <div class="card">
        <div class="card-body">
            <h2 class ="text-center">@Model</h2>
            

        </div>
    </div>
</div>
