@model Picture

<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Изменение картинки: @Model.PName</h1>
    <div class="card mb-4">

        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-action="EditPicture">

                <div class="mb-2">
                    <input class="form-control" name="oldPictureName" style="display:none;" placeholder="login" value=@Model.PName>
                </div>

                <div class="mb-2">
                    <label>Picture Name</label>
                    <input class="form-control" name="newPictureName" placeholder="login" value=@Model.PName>
                </div>

                <div class="mb-2">
                    <input type="file" name="file" class="form-control form-control-lg" id="formFileLg" />
                </div>

                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>




