
@model List<Picture>

@{
    string confirmMessage = "Вы уверены, что хотите удалить картинку?";
    string confirmScript = "return confirm('" + confirmMessage + "');";
}

<div class="row">
    <div class="col-xxl-6">
        <div class="card" style="width: 800px;">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="header-title mb-0">Pictures list</h4>
                <a asp-action="AddPicture">
                    <button type="submit" class="btn btn-primary">Add picture</button>
                    
                </a>
            </div>
            
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Picture image</th>
                                <th scope="col">Picture name</th>                               
                                <th scope="col" class="text-end">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Picture pictureInfo in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <img src="data:image;base64,@System.Convert.ToBase64String(pictureInfo.PictureBytes)" alt="Image">
                                                @* <img class="rounded-circle" src="assets/images/users/avatar-1.jpg" alt="Avtar image" width="33">*@
                                            </div>                                           
                                        </div>
                                    </td>                                                                        
                                    <td>
                                        @pictureInfo.PName
                                    </td>
                                                                       
                                    <td class="text-end">
                                        <a asp-action="EditPicture" asp-route-pictureId=@pictureInfo.Id class="font-18 text-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                            <i class="btn btn-primary">
                                                Edit
                                            </i>
                                        </a>
                                        <a onclick="@confirmScript" asp-action="DeletePicture" asp-route-pictureName=@pictureInfo.PName class="font-18 text-danger" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                            <i class="btn btn-danger">
                                                Del
                                            </i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
   