
@model List<Picture>

@{
    string confirmMessage = "Вы уверены, что хотите удалить картинку?";
    string confirmScript = "return confirm('" + confirmMessage + "');";
}


<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Картинки</h1>

    <div class="card mb-4">
        <div class="card-header">

            <a asp-action="AddPicture">
                <button type="submit" class="btn btn-primary float-end">Добавить картинку</button>

            </a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th scope="col">Картинка</th>
                        <th scope="col">Название</th>
                        <th scope="col" class="text-end">Действие</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Picture pictureInfo in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img src="data:image;base64,@System.Convert.ToBase64String(pictureInfo.PictureBytes)" alt="Image">
                                    </div>
                                </div>
                            </td>
                            <td>
                                @pictureInfo.PName
                            </td>

                            <td>
                                <a asp-action="EditPicture" asp-route-pictureId=@pictureInfo.Id>
                                    <button class="btn btn-primary fa-solid fa-pen"></button>
                                </a>
                                <a asp-action="DeletePicture" asp-route-pictureName=@pictureInfo.PName>
                                    <button class="btn btn-danger fa-solid fa-trash" onclick="@confirmScript"></button>
                                </a>                           
                            </td>

                        </tr>
                    }
                </tbody>               
            </table>
        </div>
    </div>
</div>


