
<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Добавление файла DTC</h1>
    <div class="card mb-4">

        <div class="card-body">
            <form method="post" enctype="multipart/form-data" asp-action="AddDTC">
                <div class="mb-2">
                    <label for="formFileLg" class="form-label">Выберите файл/файлы DTC </label>
                    <input type="file" multiple name="files" class="form-control form-control-lg" id="formFileLg" />
                </div>
                
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </form>
        </div>
    </div>
</div>

