@model List<DtcContent>

@{
    string confirmMessage = "Вы уверены, что хотите удалить DTC файл?";
    string confirmScript = "return confirm('" + confirmMessage + "');";
}

<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">DTC</h1>
    <div class="card mb-4">
        <div class="card-header">

            <a asp-action="AddDTC">
                <button type="submit" class="btn btn-primary float-end">Добавить DTC</button>
            </a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th scope="col">Название DTC</th>
                        <th scope="col">Дата добавления DTC</th>
                        <th scope="col">Действия</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DtcContent dtcInfo in Model)
                    {
                        <tr>
                            <td>
                                @dtcInfo.Fname
                            </td>
                            <td>
                                @dtcInfo.Created
                            </td>

                            <td>
                                <a asp-action="EditDTC" asp-route-dtcId=@dtcInfo.Id>
                                    <button class="btn btn-primary fa-solid fa-pen"></button>
                                </a>
                                <a onclick="@confirmScript" asp-action="DeleteDTC" asp-route-dtcName=@dtcInfo.Fname>
                                    <button class="btn btn-danger fa-solid fa-trash"></button>
                                </a>                              
                            </td>

                        </tr>
                    }
                </tbody>
            </table>


        </div>
    </div>
</div>
