@model List<DtcContent>

@{
    string confirmMessage = "Вы уверены, что хотите удалить DTC файл?";
    string confirmScript = "return confirm('" + confirmMessage + "');";
}

<div class="row">
    <div class="col-xxl-6">
        <div class="card" style="width: 800px;">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="header-title mb-0">DTC list</h4>
                <a asp-action="AddDTC">
                    <button type="submit" class="btn btn-primary">Add DTC</button>
                    
                </a>
            </div>
            
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">DTC name</th>
                                <th scope="col">DTC created date</th>                               
                                <th scope="col" class="text-end">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DtcContent dtcInfo in Model)
                            {
                                <tr>
                                    <td>
                                        @dtcInfo.Fname
                                    </td>                                                                        
                                    <td>
                                        @dtcInfo.Created
                                    </td>
                                                                       
                                    <td class="text-end">
                                        <a asp-action="EditDTC" asp-route-dtcId=@dtcInfo.Id class="font-18 text-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                                            <i class="btn btn-primary">
                                                Edit
                                            </i>
                                        </a>
                                        <a onclick="@confirmScript" asp-action="DeleteDTC" asp-route-dtcName=@dtcInfo.Fname class="font-18 text-danger" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                                            <i class="btn btn-danger">
                                                Del
                                            </i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
   