@model Operator


<form method="post" asp-action="EditOperator">
    <div class="form-group">
        <label asp-for="OLogin">Login</label>
        <input asp-for="OLogin" class="form-control" placeholder="login" value=@Model.OLogin>
        <span asp-validation-for="OLogin" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OPassword">Password</label>
        <input asp-for="OPassword" class="form-control" placeholder="password" value=@Model.OPassword>
        <span asp-validation-for="OPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ODescription">Description</label>
        <input asp-for="ODescription" class="form-control" placeholder="Малютка Борис" value=@Model.ODescription>
        <span asp-validation-for="ODescription" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" value=@Model.Id>
    <input type="hidden" asp-for="InactiveMark" value=@Model.InactiveMark>
    <input type="hidden" asp-for="Created" value=@Model.Created>

    <button type="submit" class="btn btn-primary">Edit</button>
    
</form>
