@using HoffmanWebstatistic.Models.ViewModel;
@using HoffmanWebstatistic.ComfortModules

@model List<Operator>




<div class="row">
    <div class="col-xxl-6">
        <div class="card" style="width: 800px;">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="header-title mb-0">Operators list</h4>
                <a asp-action="AddOperator">
                    <button type="submit" class="btn btn-primary">Add operator</button>
                    
                </a>
            </div>
            
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Login</th>
                                <th scope="col">Password</th>
                                <th scope="col">Description</th>
                                <th scope="col">Created</th>
                                <th scope="col" class="text-end">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            
                            @await Html.PartialAsync("_OperatorsList", Model)

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
